examples/alfasinapsi-load-controller.json
[
  {
    "id": "9d9c4e4a1f2b93b1",
    "type": "tab",
    "label": "Sinapsi Alfa - Load Controller",
    "disabled": false,
    "info": ""
  },
  {
    "id": "9c9489c89da27f1c",
    "type": "alfasinapsi-telemetry",
    "z": "9d9c4e4a1f2b93b1",
    "name": "Telemetria",
    "device": "4b84b99c88bf5850",
    "pollInterval": 10000,
    "sendOnChange": false,
    "compatibility": "telemetry",
    "x": 210,
    "y": 160,
    "wires": [
      [
        "3b0c5c74d2e9cf61"
      ]
    ]
  },
  {
    "id": "c7f8a2f0b2b6a6c1",
    "type": "comment",
    "z": "9d9c4e4a1f2b93b1",
    "name": "Test rapido (senza dispositivo): usa gli Inject sotto per simulare Telemetria cutoff.hasWarning true/false",
    "info": "",
    "x": 340,
    "y": 220,
    "wires": []
  },
  {
    "id": "6a2e42c0f6c6f6d3",
    "type": "inject",
    "z": "9d9c4e4a1f2b93b1",
    "name": "SIM shed (telemetry)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "alfasinapsi/telemetry",
    "payload": "{\"cutoff\":{\"hasWarning\":true,\"remainingSeconds\":60,\"atIso\":\"2026-02-25T12:00:00.000Z\"}}",
    "payloadType": "json",
    "x": 190,
    "y": 260,
    "wires": [
      [
        "3b0c5c74d2e9cf61"
      ]
    ]
  },
  {
    "id": "c6b7b5d3a2b79f12",
    "type": "inject",
    "z": "9d9c4e4a1f2b93b1",
    "name": "SIM unshed (telemetry)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "alfasinapsi/telemetry",
    "payload": "{\"cutoff\":{\"hasWarning\":false,\"remainingSeconds\":null,\"atIso\":null}}",
    "payloadType": "json",
    "x": 200,
    "y": 300,
    "wires": [
      [
        "3b0c5c74d2e9cf61"
      ]
    ]
  },
  {
    "id": "3b0c5c74d2e9cf61",
    "type": "alfasinapsi-load-controller",
    "z": "9d9c4e4a1f2b93b1",
    "name": "Controllo Carichi",
    "loads": "[{\"name\":\"Lavastoviglie\",\"minOnSec\":60,\"minOffSec\":60},{\"name\":\"Forno\",\"minOnSec\":30,\"minOffSec\":30}]",
    "outputs": 2,
    "x": 450,
    "y": 160,
    "wires": [
      [
        "25e8e9e02a0d0f59"
      ],
      [
        "b0e4d11fbe1739c7"
      ]
    ]
  },
  {
    "id": "25e8e9e02a0d0f59",
    "type": "debug",
    "z": "9d9c4e4a1f2b93b1",
    "name": "Lavastoviglie",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 140,
    "wires": []
  },
  {
    "id": "b0e4d11fbe1739c7",
    "type": "debug",
    "z": "9d9c4e4a1f2b93b1",
    "name": "Forno",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 180,
    "wires": []
  },
  {
    "id": "4b84b99c88bf5850",
    "type": "alfasinapsi-device",
    "host": "192.168.1.186"
  }
]
